<p> {{ word }} </p>
<p v-for="item in answers">
  <button type="button" class="btn btn-primary btn-block" @click="guess = item.value">{{ item.answer }}</button>
</p>
<div v-if="guess" class="alert alert-success">
  <strong>Correct</strong>
</div>
<div v-if="!guess" v-show="!display" class="alert alert-danger">
  <strong>Incorrect</strong>
</div>

<button v-if="guess" type="button" class="btn btn-success" v-on:click="next">
  <span aria-hidden="true" class="glyphicon glyphicon-triangle-right"></span>Next    
</button>