<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Korean Word App</title>
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
  <div class="container">
    <div class="jumbotron" style="text-align: center">
      <h1>
        <span class="label label-info">Korean Word</span>
      </h1>
      <korean-card v-if="!finish" v-bind:card="cards[index]" v-on:increment="incrementIndex"></korean-card>

      <div v-if="finish" class="thumbnail">
        <img src="https://media.giphy.com/media/el7Pq0ProIa1q/giphy.gif">
        <div class="caption">
          <h3>Congratulations</h3>
          <p>You are now a Korean Pro</p>
        </div>
      </div>
    </div>
  </div>
  <script src="js/app.min.js"></script>
</body>
</html>